<html lang="" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{/fragment/head::head(title='FILMETOKIO - Adicionar Utilizador')}"></head>
<body style="background: linear-gradient(to right, #141e30, #243b55);">
    <div th:replace="~{fragment/navbar}"></div>
    <div class="container">
        <div class="row row_forms">
            <div class="col-md-8 offset-2">
                <div th:replace="~{fragment/add-user}"></div>
            </div>
        </div>
        <div th:replace="~{/fragment/footer}"></div>
    </div>
</body>