<footer style="height:100px">
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">

        <p style="color:white">&copy; FILMOTOKIO</p>
        <ul class="list-unstyled d-flex-space-between">
            <a href="https://www.instagram.com" style="color:white;text-decoration:none;">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.facebook.com" style="color:white;text-decoration:none;">
                <i class="bi bi-facebook"></i>
            </a>
        </ul>
    </div>
</footer>
