<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary"
     style="background: linear-gradient(to right, #141e30, #141e30);" sec:authorize="isAuthenticated()">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" th:href="@{/film/all}">
      <img th:src="@{/images/logoFilmo.png}" style="width:100px;height:65px" alt="">
    </a>
    <div class="user-out">
        <form th:action="@{/logout}" method="post">
          <button type="submit" class=" d-flex align-items-center">
            <i class="bi bi-power me-2"></i> Logout
          </button>
        </form>
    </div>
  </div>
</nav>