<html xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" style="background: linear-gradient(to right, #141e30, #243b55);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" th:href="@{/}">
      <img th:src="@{/images/logoFilmo.png}" style="width:100px;height:65px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " style="color:white" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/film}" style="color:white">Novo Filme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user}" style="color:white">Criar Utilizador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/cast}" style="color:white">Criar Elenco</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/film/search}" style="color:white">Procurar Filmes</a>
        </li>
      </ul>
      <a th:href="@{/}">
        <button class="btn btn-outline-info">Logout</button>
      </a>

    </div>
  </div>
</nav>