
    .film-image {
                max-width: 100%;
                border-radius: 15px;
                box-shadow: 0 0 15px rgba(0,0,0,0.5);

            }
            textarea {
                resize: none;
            }
            label {
                margin-top: 10px;
            }
            .rating {
                    direction: rtl;
                    display: inline-flex;
                    font-size: 2rem;
                }

                .rating input {
                    display: none;
                }

                .rating label {
                    color: #555;
                    cursor: pointer;
                    transition: color 0.3s;
                }

                .rating input:checked ~ label,
                .rating label:hover,
                .rating label:hover ~ label {
                    color: gold;
                }
            .filmDesc{
                font-size:0.8em;
            }
.card{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px!important;
border: none}


