.body_home{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #141e30, #243b55);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.main-container {
    height: 100%;
    text-align: center;
}

.logo-container {
    text-align: center;
}

.logo-img {
    width: 200px;
    height: auto;
}

.logo-text {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
}

.btn-group .btn {
    width: 150px;
}
