body{
        margin: 0;
        height: 100vh;
        background: linear-gradient(to right, #141e30, #243b55);
        color: #fff;
        margin-top:130px!important;
        font-family: 'Russo One', sans-serif!important;
        font-weight: normal!important;
        letter-spacing: 1px!important;
        color: #66ffff!important; /* ou o tom exato do seu neon */


}

.main-container {
    height: 100%;
    text-align: center;
}

.logo-container {
    text-align: center;
}

.logo-img {
    width: 200px;
    height: auto;
}

.logo-text {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
}

.btn-group .btn {
    width: 150px;
}
