.nav-link{
color:white;
margin-right:3rem;
}
.navbar-nav{
margin-left:20%
}
form button{
color:white;
background:transparent;
border:none;}

.user-out{
    display: flex;
    justify-content: space-between;
}
.user-out i{
font-size:1.3em
}
.user-out div a{
text-decoration:none;
color:white;
margin-right:15px}