<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head th:replace="~{fragment/head::head(title='Pagina não Encontrada')}"></head>
<body style="background:linear-gradient(to right, #141e30, #243b55);color: #fff; font-family: Arial, sans-serif; text-align: center; padding-top:10%;">
<h1 style="font-size: 50px; color: #00bcd4;">404 - Página Não Encontrada</h1>
<p style="font-size: 20px;">Desculpe, mas a página que você está procurando não existe.</p>
<a th:href="@{/}" style="color: #00bcd4; text-decoration: none; font-size: 18px;">Voltar à Página Inicial</a>
</body>
</html>
