<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{/fragment/head::head(title='FILMOTOKIO - Procurar Filme')}"></div>
<body>
    <div th:replace="~{fragment/navbar}"></div>
    <div class="d-flex col-md-6 offset-3 " style="margin-top:100px">
        <h3>Procurar Filme</h3>
    </div>
    <form class="d-flex col-md-6 offset-3" role="search"
    method="get" th:action="@{/film/search}">
        <input class="form-control me-2" type="search" name="title" placeholder="Procurar por nome"
              style="height:50px" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!-- Lista de filmes -->
    <div class="col-md-8 offset-2 mb-3" >
        <div class="container" th:classappend="${errorMessage} ? 'height_view'">
            <div th:if="${film.isEmpty()}" class="alert alert-danger custom-error">
                <div class="error-icon">❌</div>
                <p >Filme não encontrado</p>
            </div>
            <a th:href="@{/film/search}" class="btn-back-simple">Voltar para a lista</a>
        </div>
        <div th:if="${!film.isEmpty()}">
            <div class="container py-5">
                <h2 class="mb-4 fw-bold" style="border-left: 5px solid #ffc107; padding-left: 10px;">Em cartaz</h2>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                        <div class="col" th:each="film : ${film}">
                            <a th:href="@{/film/{id}(id=${film.id})}" style="text-decoration:none">
                                <div class="card h-100 shadow-sm">
                                    <img th:src="@{${film.poster}}" class="card-img-top" alt="Poster do Filme"
                                         style="height:200px;object-fit:cover">
                                    <div class="card-body">
                                        <h5 class="card-title text-truncate" th:text="${film.title}"></h5>
                                        <p class="card-text text-muted small" th:text="'Ano :  ' + ${film.year}"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div th:replace="~{fragment/footer}"></div>
    </div>
</div>

</body>