<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragment/head::head(title='FILMOTOKIO - Detalhes de Filme')}"></head>


<body class="bg-light">
  <div th:replace="~{fragment/navbar}"></div>
  <div class="container" th:classappend="${errorMessage} ? 'height_view'">
    <div th:if="${errorMessage}" class="alert alert-danger custom-error">
      <div class="error-icon">❌</div>
      <p th:text="${errorMessage}"></p>
    </div>
  </div>
  <div class="container mt-5" th:if="${film}"style="min-height:30rem">
    <div class="row row_forms">
      <div class="col-md-4">
        <img th:src="${film.poster}" alt="Capa do Filme" class="film-image">
      </div>
      <div class="col-md-8 text-white">
        <h1 th:text="${film.title + ' (' + film.year + ')'}" class="film-title"></h1>
        <div class="movie-action-feedback">
          <button class="ver-teaser" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
              </svg>
            </span>Ver Teaser
          </button>
          <div>
            <button class="button-action-movie add-list-btn"
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Adiciona a sua lista"><i class="bi bi-card-checklist"></i>
            </button>
            <button class="button-action-movie like-btn"
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Marcar como favoritos"><i class=" bi bi-heart"></i></button>
          </div>
        </div>

        <!--<p>Elencos:
          <span th:each="ator, stat : ${atores}">
            <span class="filmDesc" th:text="${ator.name}"></span>
            <span class="filmDesc" th:text="${ator.surname}"></span>
            <span th:if="${!stat.last}">, </span>
          </span>
        </p>-->
        <h4 style="text-align:justify" class="mt-4">Sinopse </h4>
        <p th:text="${film.synopsis}" class="text-justify"></p>
        <p>Directores :
          <span th:each="diretor, stat : ${diretores}">
            <span class="filmDesc" th:text="${diretor.name}"></span>
            <span class="filmDesc" th:text="${diretor.surname}"></span>
            <span th:if="${!stat.last}">, </span>
          </span>
        </p>
        <!-- Alerta Bootstrap -->
        <div id="successAlert" class="alert alert-success alert-dismissible fade show d-none"
             th:if="${reviewSuccess}" role="alert" >
          <span th:text="${reviewSuccess}"></span>
        </div>
        <div class="accordion" id="accordionExample" th:unless="${showForm}">
          <div class="accordion-item">
            <h2 class="accordion-header accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
            style="cursor:pointer;">
              Ver comentarios
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div th:each="review : ${allReviews}">
                  <div class="card mb-4 shadow-sm border-0 rounded-4" style="background-color: #061429; color: #f1f1f1;">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <div>
                          <h6 class="card-title mb-0" th:text="${review.userFullName}"></h6>
                          <small style="color:grey" th:text="${review.date}"></small>
                        </div>
                        <div class=" fs-6" style="padding:12px">
                          <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                    <span style="font-size:1.2em"
                          th:classappend="${i <= review.rating} ? ' text-warning' : 'text-muted'">
                      <i class="bi-star-fill"></i>
                    </span>
                          </th:block>
                          <span th:text="${review.rating}+'.0'"></span>
                        </div>
                      </div>
                      <hr>
                      <p class="card-text" th:text="${review.reviewText}"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div >
          <hr>
          <form th:action="@{/film/review/save}" method="post" class="text-white" th:object="${review}"
                th:if="${showForm}">
            <input type="hidden" th:name="filmId" th:value="${film.Id}"/>
            <input type="hidden" th:name="userId" th:value="${user.id}"/>
            <label for="rating">Classificar :</label>
            <div class="rating">
              <th:block th:each="i : ${#numbers.sequence(5, 1)}">
                <input type="radio" th:id="'star' + ${i}" name="rating" th:field="*{rating}" th:value="${i}"/>
                <label th:for="'star' + ${i}" th:title="${i} + ' estrelas'">
                    <i class="bi bi-star"></i>
                </label>
              </th:block>
            </div>
            <br>
            <textarea id="critica" name="comment" rows="8" class="input_user mt-2"  th:field="*{filmReview}"
                      placeholder="Escreva aqui sua opinião sobre o filme..."
            style="margin-bottom:0px;"></textarea>
            <button type="submit" class="btn btn-outline-light mt-3" style="transition: 0.3s;
            width:100%;padding:12px">Enviar Crítica</button>
          </form>
        </div>
      </div>
      </div>
  </div>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <iframe
                          src="https://www.youtube.com/embed/42P7Zjm6wHA"
                          title="Judgment Night Trailer"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen>
                  </iframe>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <div th:replace="~{fragment/footer}"></div>
  </div>
  <script th:src="@{/js/tooltip-init.js}"></script>
  <script th:src="@{/js/add-review.js}"></script>
</body>
</html>
