<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragment/head::head(title='FILMOTOKIO - Detalhes de Filme')}"></head>


<body class="bg-light">
  <div th:replace="~{fragment/navbar}"></div>
  <div class="container" th:classappend="${errorMessage} ? 'height_view'">
    <div th:if="${errorMessage}" class="alert alert-danger custom-error">
      <div class="error-icon">❌</div>
      <p th:text="${errorMessage}"></p>
    </div>
  </div>
  <div class="container" th:if="${film}"style="min-height:30rem">
    <div class="row row_forms">
      <div class="col-md-4">
        <img th:src="${film.poster}" alt="Capa do Filme" class="film-image">
      </div>
      <div class="col-md-4 text-white">
        <p>Título:<span class="filmDesc" th:text="${film.title}"
        ></span><span class="filmDesc" th:text="' (' + ${film.year} + ')'"></span></p>
        <p>Filme de:
          <span th:each="diretor, stat : ${diretores}">
            <span class="filmDesc" th:text="${diretor.name}"></span>
            <span class="filmDesc" th:text="${diretor.surname}"></span>
            <span th:if="${!stat.last}">, </span>
          </span>
        </p>
        <p>Elencos:
          <span th:each="ator, stat : ${atores}">
            <span class="filmDesc" th:text="${ator.name}"></span>
            <span class="filmDesc" th:text="${ator.surname}"></span>
            <span th:if="${!stat.last}">, </span>
          </span>
        </p>
        <p style="text-align:justify">Sinopse: <span class="filmDesc" th:text="${film.synopsis}"></span></p>
      </div>
      <div class="col-md-4" >
        <form th:action="@{/review/save}" method="post" class="text-white" th:object="${review}"
              th:if="${showForm}">
          <input type="hidden" th:name="filmId" th:value="${film.Id}"/>
          <input type="hidden" th:name="userId" th:value="${user.id}"/>
          <label for="rating">Classificar :</label>
          <div class="rating mb-3">
            <th:block th:each="i : ${#numbers.sequence(5, 1)}">
              <input type="radio" th:id="'star' + ${i}" name="rating" th:field="*{rating}" th:value="${i}"/>
              <label th:for="'star' + ${i}" th:title="${i} + ' estrelas'">★</label>
            </th:block>
          </div>
          <br>
          <textarea id="critica" name="comment" rows="8" class="input_user mt-2"  th:field="*{filmReview}"
                    placeholder="Escreva aqui sua opinião sobre o filme..."></textarea>
          <button type="submit" class="btn btn-outline-light mt-3" style="transition: 0.3s;
            width:100%;padding:12px">Enviar Crítica</button>
        </form>
        <div th:unless="${showForm}">
          <h3>Todas as Críticas</h3>
          <div th:each="review : ${allReviews}">
            <div class="card mb-4 shadow-sm border-0 rounded-4" style="background-color: #0d1117; color: #f1f1f1;">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <div>
                    <h6 class="card-title mb-0" th:text="${review.userFullName}">Joana Silva</h6>
                    <small style="color:grey" th:text="${review.date}">15 de abril de 2025</small>
                  </div>
                  <div class="badge bg-primary fs-6" style="padding:12px">
                    <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                    <span style="font-size:1.2em"
                            th:classappend="${i <= review.rating} ? ' text-warning' : 'bi-star text-muted'">★</span>
                    </th:block>
                    <span style="font-weight:500;padding:5px 10px;background:black;border-radius: 3px;" th:text="${review.rating}+',0'"></span>
                  </div>
                </div>
                <p class="card-text" th:text="${review.reviewText}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div th:replace="~{fragment/footer}"></div>
  </div>

</body>
</html>
