<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragment/head::head(title='FILMOTOKIO - Detalhes de Filme')}"></head>


<body class="bg-light">
  <div th:replace="~{fragment/navbar}"></div>
  <div class="container" th:classappend="${errorMessage} ? 'height_view'">
    <div th:if="${errorMessage}" class="alert alert-danger custom-error">
      <div class="error-icon">❌</div>
      <p th:text="${errorMessage}"></p>
    </div>
  </div>
  <div class="container" th:if="${film}">
    <div class="row">
      <div class="col-md-4">
        <img th:src="${film.poster}" alt="Capa do Filme" class="film-image">
      </div>
      <div class="col-md-4 text-white">
        <p th:text="${film.title}">Título do Filme</p>
        <p><strong>Ano:</strong> <span class="" th:text="${film.year}">2023</span></p>
        <p><strong>Diretores:</strong> <span th:text="${film.title}">Nome dos Diretores</span></p>
        <p><strong>Atores:</strong> <span th:text="${film.title}">Nome dos Atores</span></p>
        <p><strong>Músicos:</strong> <span th:text="${film.title}">Nome dos Músicos</span></p>
        <p style="text-align:justify"><strong>Sinopse:</strong> <span th:text="${film.synopsis}"></span></p>

      </div>
      <div class="col-md-4" >
        <form th:action="@{/review/save}" method="post" class="text-white" th:object="${review}"
              th:if="${showForm}">
          <input type="hidden" th:name="filmId" th:value="${film.Id}"/>
          <input type="hidden" th:name="userId" th:value="${user.id}"/>
          <label for="rating">Classificar :</label>
          <div class="rating mb-3">
            <th:block th:each="i : ${#numbers.sequence(5, 1)}">
              <input type="radio" th:id="'star' + ${i}" name="rating" th:field="*{rating}" th:value="${i}"/>
              <label th:for="'star' + ${i}" th:title="${i} + ' estrelas'">★</label>
            </th:block>
          </div>
          <br>
          <textarea id="critica" name="comment" rows="8" class="input_user mt-2"  th:field="*{filmReview}"
                    placeholder="Escreva aqui sua opinião sobre o filme..."></textarea>
          <button type="submit" class="btn btn-outline-light mt-3" style="transition: 0.3s;
            width:100%;padding:12px">Enviar Crítica</button>
        </form>
        <div th:unless="${showForm}">
          <h3>All Reviews for this Film:</h3>
          <div th:each="review : ${allReviews}">
            <div class="card mb-3 border-0 shadow" style="background-color: #0d1117; color: #c9d1d9;">
              <div class="card-body">
                <h5 class="card-title" style="color: #58a6ff;"
                ></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  Classificação :
                  <span th:each="i : ${#numbers.sequence(1, review.rating)}" class="text-warning">
                    ★
                  </span>
                </h6>
                <p class="card-text" th:text="${review.filmReview}"></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div th:replace="~{fragment/footer}"></div>
  </div>

</body>
</html>
