<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/fragment/head::head(title='FILMOTOKIO - Benvindo')}"></head>
<body>
  <div th:replace="~{/fragment/navbar}"></div>
  <div class="main-container d-flex justify-content-space-around align-items-center">
    <div>
      <h1 class="logo-text">Benvindo</h1>
      <img th:src="@{/images/logoFilmo.png}" alt="Filmotokio logo">
    </div>

  </div>
  <div >
    <div th:replace="~{fragment/footer}"></div>
  </div>
</body>
</html>