<head th:replace="/fragment/head::head(title='FILMETOKIO - HOME')" xmlns:th="http://www.w3.org/1999/xhtml">>
    <html xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="body_home">
        <div class="main-container d-flex flex-column justify-content-center align-items-center">
            <div class="logo-container">
                <h1 class="logo-text">Filmotokio</h1>
            </div>
            <div class="btn-group mt-4">
                <a th:href="@{/login}" class="btn btn-primary btn-lg me-3">Login</a>
                <a th:href="@{/user}" class="btn btn-outline-primary btn-lg">Registar</a>
            </div>
        </div>
    </div>