<html lang="" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragment/head::head(title='FILMETOKIO - Adicionar Utilizador')"></head>
<body>
    <div th:replace="fragment/navbar"></div>
    <div class="container">
        <div class="row">
            <form th:action="@{/user/save}" th:object="${user}">
                <div class="mb-3">
                    <input type="text" class="form-control " id="firstName" placeholder="First Name"
                    th:field="*{name}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control " id="LastName" placeholder="Last Name"
                    th:field="*{surname}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control " id="email" placeholder="example@gmail.com"
                    th:field="*{email}">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>

</body>